extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            
            .col-md-7
                h1= pagina 
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

                p Deget dolor morbi non arcu. Ipsum nunc aliquet bibendum enim facilisis gravida neque convallis a. Lacus laoreet non curabitur gravida arcu ac tortor dignissim. At augue eget arcu dictum varius duis at. Penatibus et magnis dis parturient. Diam quam nulla porttitor massa. Sed arcu non odio euismod. Id diam maecenas ultricies mi eget mauris. Dolor sit amet consectetur adipiscing elit duis tristique sollicitudin nibh. Tristique nulla aliquet enim tortor at auctor urna nunc. Viverra vitae congue eu consequat. Blandit massa enim nec dui nunc. Odio facilisis mauris sit amet massa vitae tortor condimentum lacinia. Est ultricies integer quis auctor elit sed.

                p Eduis ut diam quam. Aliquam nulla facilisi cras fermentum odio. Morbi enim nunc faucibus a pellentesque. Sed ullamcorper morbi tincidunt ornare massa eget. Nibh tortor id aliquet lectus proin nibh nisl condimentum. Iaculis at erat pellentesque adipiscing commodo elit at. Donec pretium vulputate sapien nec sagittis. At augue eget arcu dictum varius duis. Ipsum consequat nisl vel pretium lectus quam id leo in. Ac odio tempor orci dapibus. Ultrices gravida dictum fusce ut. Quis commodo odio aenean sed. Vivamus arcu felis bibendum ut tristique et egestas quis ipsum. Arcu dictum varius duis at consectetur lorem donec massa sapien. Massa placerat duis ultricies lacus sed turpis tincidunt id. Purus faucibus ornare suspendisse sed nisi lacus sed. Auctor elit sed vulputate mi sit amet mauris commodo.

    .listado-iconos     
        .container.mt-5.py-5.tex-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p  Eduis ut diam quam. Aliquam nulla facilisi cras fermentum odio. Morbi enim nunc faucibus a pellentesque

            
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono de destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p  Eduis ut diam quam. Aliquam nulla facilisi cras fermentum odio. Morbi enim nunc faucibus a pellentesque

            
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono de precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios  
                    p  Eduis ut diam quam. Aliquam nulla facilisi cras fermentum odio. Morbi enim nunc faucibus a pellentesque